// foundation naming rules (Constant Variable)
// $SC-{FOUNDATION-TYPE}-{ROLE:OPTION}-{NAME:OPTION}

// UI color
$SC-COLOR-BLACK: #000;
$SC-COLOR-GRAY-90: #333;
$SC-COLOR-GRAY-80: #5a5a5a;
$SC-COLOR-GRAY-70: #7d7d7d;
$SC-COLOR-GRAY-60: #868686;
$SC-COLOR-GRAY-50: #a5a5a5;
$SC-COLOR-GRAY-40: #c7c7c7;
$SC-COLOR-GRAY-30: #ddd;
$SC-COLOR-GRAY-20: #eaeaea;
$SC-COLOR-GRAY-10: #f5f5f5;
$SC-COLOR-WHITE: #fff;

$SC-PRIMARY-COLOR-BLUE: #2584da;
$SC-PRIMARY-HOVER-COLOR-BLUE: #2478c7;
$SC-PRIMARY-COLOR-LIGHT-BLUE: #00abd6;
$SC-PRIMARY-HOVER-COLOR-LIGHT-BLUE: #09a4cb;
$SC-PRIMARY-COLOR-INDIGO: #253963;
$SC-PRIMARY-HOVER-COLOR-INDIGO: #172441;
$SC-PRIMARY-COLOR-PURPLE: #553ca5;
$SC-PRIMARY-COLOR-DEEP-BLUE: #2949b3;
$SC-PRIMARY-COLOR-CYAN: #0498dc;
$SC-PRIMARY-COLOR-MINT: #0aacbe;
$SC-PRIMARY-COLOR-GREEN: #35be7d;
$SC-PRIMARY-COLOR-DEEP-GREEN: #22933e;
$SC-PRIMARY-COLOR-LIME: #7ab342;
$SC-PRIMARY-COLOR-YELLOW: #fbb41a;
$SC-PRIMARY-COLOR-ORANGE: #fbb41a;
$SC-PRIMARY-COLOR-RED: #dc002b;
$SC-PRIMARY-HOVER-COLOR-RED: #dc002b;
$SC-PRIMARY-COLOR-LIGHT-RED: #ea7d00;
$SC-PRIMARY-COLOR-PINK: #e74da8;
$SC-PRIMARY-COLOR-DARK-GRAY: #575757;
$SC-PRIMARY-COLOR-COOL-GRAY: #687182;

$SC-SUB-COLOR-YELLOW-TINT-01: #fff7e7;
$SC-SUB-COLOR-YELLOW-TINT-02: #fef0d1;
$SC-SUB-COLOR-YELLOW-TINT-03: #fde1a3;

// statusColor
$COLOR-STATUS-SUCCESS: #4fcd67;
$COLOR-STATUS-ERROR: #ff5858;
$COLOR-STATUS-DEFAULT: #959595;
$COLOR-STATUS-PROCESSING: #336aff;
$COLOR-STATUS-WARNING: #f7a443;

$SC-FONT-SIZE-BODY-1: 12px;
$SC-FONT-SIZE-BODY-2: 13px;
$SC-FONT-SIZE-BODY-3: 14px;
