.sc-lnb-Tree {
  background-color: $SC-COLOR-TYPE2-WHITE;
  border-right: 1px solid $SC-COLOR-TYPE2-GRAY-30;
  overflow: visible;
  position:relative; 
  transition: width 0.3s ease;
  width: 300px;
  height: 100vh;
  &.collapsed {
    width: 20px;
    h1.sc-lnb-logo, .sc-lnb-list {
      display:none;
    }
  }
  h1 {
    color: $SC-COLOR-TYPE2-GRAY-100;
    font-size: $SC-FONT-SIZE-TYPE2-H1;
    font-weight: $SC-FONT-WEIGHT-TYPE2-H1;
    &.sc-lnb-logo {
      height: 98px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 30px;
    }    
  }
  .sc-lnb-toggle-btn {
    background-color: $SC-COLOR-TYPE2-GRAY-10;
    background-image: url(./assets/img/ico-chevron-right-14.png);
    background-position: center;
    background-repeat: no-repeat;
    border:1px solid $SC-COLOR-TYPE2-GRAY-30;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top:35px;
    right:-15px;
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    &.collapsed {
      transform: rotate(0deg);
    }
  }
}

.sc-lnb-list {
  height: calc(100vh - 158px);
  list-style: none;
  margin: 0;
  padding: 0 15px;
  overflow-y: auto;
  .sc-lnb-tree-item {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: $SC-COLOR-TYPE2-GRAY-100;
    height: 48px;
    justify-content: space-between;
    padding: 0 16px;
    &:hover {
      color: $SC-PRIMARY-COLOR-TYPE2;
    }
    &:active,
    &.active {
      color: $SC-PRIMARY-COLOR-TYPE2;
      background-color: rgba($SC-SECONDARY-COLOR-TYPE2-60, 0.1);
    }
  }
}

.sc-lnb-arrow {
  background-image: url(./assets/img/ico-chevron-right-14.png);
  background-position: center;
  background-repeat: no-repeat;
  width:14px;
  height:14px;
  &.rotate {
    background-image: url(./assets/img/ico-chevron-down-14.png);
  }
}

.sc-lnb-subtree {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px 16px;
  .sc-lnb-subtree-item {
    align-items: center;
    display: flex;    
    font-size: 14px;
    font-weight: 400;
    color: $SC-COLOR-TYPE2-GRAY-100;
    height: 30px;
    justify-content: space-between;
    padding: 0 11px 0 14px;
    cursor: pointer;
    .sc-lnb-sub-arrow {
      @extend .sc-lnb-arrow;
    }
  }
}

.sc-lnb-sub-in-tree {
  background-color: $SC-COLOR-TYPE2-GRAY-10;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0; 
  padding: 11px 24px;
  li {
    color: $SC-COLOR-TYPE2-GRAY-80;
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}


