// global color 정의
@use "@/style/scss/abstracts/variables" as vars;

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  font-family: "Noto Sans KR", Arial, sans-serif !important;
  text-transform: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16.5px;
  font-weight: 400;
  color: rgb(71, 71, 71);
  height: 100%;
  width: 100%;
  //min-width: 1700px;
  margin: 0;
  background: rgb(226, 226, 226);
}

select {
  outline: none;
}

#app {
  height: 100%;
}

// GNB
header {
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  background: vars.$SC-PRIMARY-COLOR-GREEN;
  color: vars.$SC-COLOR-WHITE;
  padding: 0 20px;
  z-index: 3;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  h1 {
    //border: 1px dashed red;
    display: block;
    position: relative;
    font-size: 1.5rem;
  }
  .img-main {
    display: block;
    position: relative;
    width: 300px;
  }
  p {
    display: block;
    position: relative;
    font-size: 0.5rem;
    color: vars.$SC-COLOR-GRAY-50;
    margin: 0 0 0 1rem;
  }
}

// LNB
.sc-lnb {
  display: flex;
  position: relative;
  align-items: center;
  background: vars.$SC-PRIMARY-COLOR-DEEP-GREEN;
  color: vars.$SC-COLOR-WHITE;
  width: 120px;
  padding: 0 20px;
  z-index: 3;
}

// Footer
footer {
  background: vars.$SC-COLOR-GRAY-50;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  padding: 0 20px;
  font-size: 0.5rem;
}
