// global color 정의
@use "@/style/scss/abstracts/variables" as vars;

html,
body {
  font-family: "Noto Sans KR", Arial, sans-serif !important;
  text-transform: none;
  box-shadow: none;
  box-sizing: border-box;
  font-weight: 400;
  color: rgb(71, 71, 71);
  height: 100%;
  width: 100%;
  //min-width: 1700px;
  margin: 0;
  background: rgb(226, 226, 226);
}

select {
  outline: none;
}

#app {
  height: 100%;
}

// GNB
header {
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  background: vars.$SC-PRIMARY-COLOR-GREEN;
  color: vars.$SC-COLOR-WHITE;
  padding: 0 20px;
  z-index: 3;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  h1 {
    border: 1px dashed red;
    display: block;
    position: relative;
    font-size: 1.5rem;
  }
}

// LNB
.sc-lnb {
  display: flex;
  position: relative;
  align-items: center;
  background: vars.$SC-PRIMARY-COLOR-DEEP-GREEN;
  color: vars.$SC-COLOR-WHITE;
  width: 120px;
  padding: 0 20px;
  z-index: 3;
}

// Footer
footer {
  background: vars.$SC-COLOR-GRAY-50;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  padding: 0 20px;
}